In [ ]:
## inteiro
age=35
type(age)

In [ ]:
## Ponto flutuante
height=5.11
print(height)
print(type(height))

In [ ]:
## string 
name="Krish"
print(name)
print(type(name))

In [ ]:
## boolean
is_true=True
type(is_true)

In [ ]:
a=10
b=10

type(a==b)

In [ ]:
## Erro comum
result="Hello" + 5

In [ ]:
result="Hello" + str(5)
print(result)